@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-weight: bold;
  font-style: normal;
}

body, html {
  color: #00224c;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  color: #00224c;
}

.hidden {
  display: none;
}

.btn {
  display: inline-block;
  height: 48px;
  border-radius: 24px;
  border: 2px solid #f6be3c;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fedf84;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(7%, rgba(245, 188, 55, 0)), color-stop(92%, rgba(245, 188, 55, 0.96)), color-stop(96%, #f5bc37));
  background-image: linear-gradient(to bottom, rgba(245, 188, 55, 0) 7%, rgba(245, 188, 55, 0.96) 92%, #f5bc37 96%);
  font-size: 15px;
  line-height: 44px;
  letter-spacing: 0.45px;
  color: #202832;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px #dd9c58;
          box-shadow: 0 5px 10px #dd9c58;
}

.btn--transparent {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 1px 5px #dd9c58;
          box-shadow: 0 1px 5px #dd9c58;
}

.clearfix {
  clear: both;
}

.center__title {
  padding-top: 90px;
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 50px;
  letter-spacing: 1.5px;
}

@media (max-width: 1024px) {
  .center__title {
    padding-top: 60px;
    font-size: 40px;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .center__title {
    padding-top: 30px;
    font-size: 32px;
  }
}

.header {
  background: url("../img/header/header_bg.jpg") no-repeat center;
  background-size: cover;
  height: 950px;
  padding: 30px 0 128px;
  overflow: hidden;
}

.header .container {
  position: relative;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: block;
  min-width: 165px;
  min-height: 139px;
}

.header__logo img {
  width: 100%;
}

.header__right {
  width: 100%;
  margin-top: 25px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__office {
  margin-left: 30px;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  font-family: 'Montserrat-ExtraBold', sans-serif;
}

.header__phone {
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-right: 29px;
}

.header__btn {
  width: 225px;
}

.header__burger {
  display: none;
  height: 28px;
  width: 40px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #adddb5), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(41%, #adddb5), color-stop(60%, #35aa46), color-stop(61%, transparent), color-stop(79%, transparent), color-stop(80%, #35aa46));
  background: linear-gradient(to top, #adddb5 19%, transparent 20%, transparent 40%, #adddb5 41%, #35aa46 60%, transparent 61%, transparent 79%, #35aa46 80%);
  cursor: pointer;
  margin-right: 30px;
}

.header__burger--active {
  height: 28px;
  width: 40px;
  background: linear-gradient(45deg, transparent 45%, #adddb5 46%, #35aa46 55%, transparent 56%), linear-gradient(-45deg, transparent 45%, #35aa46 46%, #adddb5 55%, transparent 56%);
}

.header__nav {
  margin-left: 30px;
  margin-top: 8px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav ul li {
  font-size: 17px;
  line-height: 50px;
  letter-spacing: 0.51px;
  font-family: 'Montserrat-Light', sans-serif;
}

.header__center {
  margin-top: 110px;
}

.header__title {
  margin: 0;
  font-size: 65px;
  font-family: 'Montserrat-Bold', sans-serif;
  letter-spacing: 1.95px;
  text-shadow: 2px 1px 2px white, 0 0 1em white;
}

.header__subtitle {
  font-size: 25px;
  font-family: 'Montserrat-Light', sans-serif;
  letter-spacing: 0.75px;
  text-shadow: 8px 8px 10px white, -8px 8px 10px white, 8px -8px 10px white, -8px -8px 10px white, 8px 8px 10px white, -8px 8px 10px white, 8px -8px 10px white, -8px -8px 10px white, 4px 4px 10px white, -4px 4px 10px white, 4px -4px 10px white, -4px -4px 10px white;
  margin-bottom: 35px;
}

.header__excursion {
  margin-left: 20px;
  color: #202832;
  font-size: 15px;
  line-height: 50px;
  letter-spacing: 0.45px;
  text-shadow: 8px 8px 10px white, -8px 8px 10px white, 8px -8px 10px white, -8px -8px 10px white, 8px 8px 10px white, -8px 8px 10px white, 8px -8px 10px white, -8px -8px 10px white, 4px 4px 10px white, -4px 4px 10px white, 4px -4px 10px white, -4px -4px 10px white;
  border-bottom: 2px dotted;
}

.header__bottom {
  margin-top: 280px;
}

.header__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__bottom ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  letter-spacing: 0.57px;
  color: white;
}

.bottom__item {
  display: inline-block;
  width: 39px;
  height: 39px;
  margin-right: 15px;
  background: url("../img/icons.png") no-repeat center;
  background-position-y: 0;
}

.bottom__item--200 {
  background-position-x: 0;
}

.bottom__item--houses {
  background-position-x: -39px;
}

.bottom__item--1500 {
  background-position-x: -78px;
}

.bottom__item--11 {
  background-position-x: -117px;
}

.bottom__text {
  display: inline-block;
  line-height: 39px;
  vertical-align: middle;
}

.leaf {
  position: absolute;
}

.leaf-1 {
  width: 64px;
  height: 52px;
  background: url(../img/header/leaf-1.png) no-repeat center;
  top: 200px;
  left: 229px;
}

.leaf-2 {
  width: 103px;
  height: 60px;
  background: url(../img/header/leaf-2.png) no-repeat center;
  top: 280px;
  left: 636px;
}

.leaf-3 {
  width: 54px;
  height: 41px;
  background: url(../img/header/leaf-3.png) no-repeat center;
  top: 417px;
  left: -40px;
}

.leaf-4 {
  width: 38px;
  height: 47px;
  background: url(../img/header/leaf-4.png) no-repeat center;
  top: 569px;
  left: 261px;
}

@media (max-width: 1200px) {
  .header__nav ul li {
    font-size: 16px;
  }
  .bottom__text {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }
  .header__contacts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__callback {
    width: 225px;
  }
  .header__phone {
    text-align: center;
  }
  .header__office {
    margin-left: 15px;
    font-size: 13px;
    line-height: 30px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
  }
  .header__nav {
    display: none;
  }
  .header__right {
    margin-top: 0;
  }
  .header__bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__bottom ul li {
    margin-bottom: 10px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .header .leaf-1 {
    display: none;
  }
  .header .leaf-2 {
    display: none;
  }
  .header .leaf-3 {
    display: none;
  }
  .header .leaf-4 {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__burger {
    margin-right: 0;
  }
  .header__logo {
    min-width: 80px;
    min-height: 65px;
  }
  .header__office {
    margin-left: 10px;
    font-size: 13px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    max-width: 150px;
  }
  .header__phone {
    font-size: 19px;
    margin-right: 0px;
    margin-top: 0;
    padding-top: 0;
  }
  .header__btn {
    width: 180px;
    font-size: 13px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 576px) {
  .header__burger {
    margin-left: -15px;
    width: 50px;
  }
  .header__logo {
    position: relative;
    margin: 0;
  }
  .header__office {
    position: absolute;
    left: 0;
    top: 100px;
    text-align: left;
    max-width: 100%;
  }
  .header__callback {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__contacts {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__title {
    font-size: 45px;
  }
  .header__subtitle {
    font-size: 17px;
  }
  .header__price {
    display: block;
    max-width: 260px;
  }
  .header__bottom {
    margin-top: 170px;
  }
  .header__bottom ul li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 425px) {
  .header__phone {
    font-size: 14px;
  }
  .header__office {
    display: none;
  }
  .header__phone {
    display: block;
    margin: -15px 0 -10px;
  }
  .header__btn {
    width: 130px;
    padding: 0;
    font-size: 11px;
  }
  .header__logo {
    min-width: 60px;
    min-height: 50px;
  }
  .header__title {
    font-size: 31px;
  }
}

.about {
  margin-top: 95px;
  padding-bottom: 80px;
}

.about__hidden {
  display: none;
}

.about__title {
  font-size: 50px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 50px;
  letter-spacing: 1.5px;
  position: relative;
}

.about__title:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 289px;
  background-color: #adddb5;
  left: 0;
  bottom: 8px;
  z-index: -1;
}

.about__image {
  float: right;
  margin: 25px 0 42px 42px;
}

.about__description {
  color: #333333;
}

.about__description p {
  padding-top: 0;
  line-height: 20px;
  letter-spacing: 0.45px;
}

.about__description a {
  color: #32a946;
  border-bottom: 2px dotted;
}

.about-slider {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.about-slider__image {
  overflow: hidden;
  display: inline-block;
  border-radius: 135px;
  height: 135px;
}

.about-slider__item {
  color: #333333;
  line-height: 24px;
  width: 25%;
  padding: 10px;
  position: relative;
}

.about-slider__item img {
  width: 135px;
  height: 135px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-slider__item:after {
  content: "";
  position: absolute;
  background: url(../img/about/Ellipse_1.png);
  left: calc(50% - 93px);
  top: -14px;
  width: 184px;
  height: 184px;
  display: inline-block;
  -webkit-transition-property: rotate;
  transition-property: rotate;
  -webkit-transition: 2s;
  transition: 2s;
}

.about-slider__item:hover:after {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  -webkit-transition-property: rotate;
  transition-property: rotate;
  -webkit-transition: 2s;
  transition: 2s;
}

.about-slider__item:hover img {
  overflow: hidden;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition-property: scale;
  transition-property: scale;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-slider__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  margin-top: 50px;
  font-size: 17px;
  font-family: 'Montserrat-Bold', sans-serif;
}

.about-slider__text {
  margin-top: 10px;
  font-family: 'Montserrat-Light', sans-serif;
}

@media (max-width: 1024px) {
  .about__image {
    display: none;
  }
  .about-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-slider__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 40px;
  }
  .about-slider__title {
    margin-top: 20px;
  }
  .about-slider__text {
    margin-top: 0;
  }
  .about__title {
    font-size: 40px;
  }
  .about__title:after {
    width: 236px;
  }
}

@media (max-width: 576px) {
  .about-slider__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.structure {
  color: #fff;
  min-height: 1199px;
  background: url(../img/structure/structure-bg.jpg) no-repeat center;
  background-size: cover;
}

.structure .container {
  text-align: center;
}

.structure__text {
  font-family: 'Montserrat-Light', sans-serif;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.45px;
}

.structure__items {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.structure__item:not(:nth-child(3n)) {
  margin: 15px 30px 5px 0;
}

.structure__item:nth-child(3n) {
  margin: 15px 0 5px 0;
}

.structure__img {
  display: inline-block;
  overflow: hidden;
  width: 360px;
  height: 220px;
}

.structure__img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.structure__img img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.structure__description {
  max-width: 360px;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.structure__name {
  font-size: 17px;
  letter-spacing: 0.51px;
}

.structure__link {
  color: #f6be3c;
  text-decoration: underline;
  letter-spacing: 0.45px;
}

.structure__show {
  display: none;
  height: 48px;
  border-radius: 24px;
  border: 2px solid #f6be3c;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fedf84;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(7%, rgba(245, 188, 55, 0)), color-stop(92%, rgba(245, 188, 55, 0.96)), color-stop(96%, #f5bc37));
  background-image: linear-gradient(to bottom, rgba(245, 188, 55, 0) 7%, rgba(245, 188, 55, 0.96) 92%, #f5bc37 96%);
  font-size: 15px;
  line-height: 44px;
  letter-spacing: 0.45px;
  color: #202832;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px #dd9c58;
          box-shadow: 0 5px 10px #dd9c58;
  margin-top: 30px;
}

.structure__show:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 1px 5px #dd9c58;
          box-shadow: 0 1px 5px #dd9c58;
  display: none;
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .structure {
    padding-bottom: 90px;
  }
  .structure__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .structure__item:not(:nth-child(3n)) {
    margin: 15px 0 5px 0;
  }
  .structure__item:nth-child(3n) {
    margin: 15px 0 5px 0;
  }
}

@media (max-width: 425px) {
  .structure__img {
    width: 280px;
    height: 180px;
  }
  .structure__title {
    font-size: 27px;
  }
}

.offer {
  background-color: #f7f7f7;
  padding-bottom: 95px;
  overflow: hidden;
}

.offer .container {
  position: relative;
}

.offer__title {
  text-align: left;
}

.offer__items {
  position: relative;
  margin-top: 40px;
  margin-bottom: 60px;
}

.offer__left {
  position: absolute;
  width: 56px;
  height: 66px;
  outline: none;
  background: url("../img/offer/offer-left.png") no-repeat center;
  top: -110px;
  right: 80px;
  cursor: pointer;
}

.offer__right {
  position: absolute;
  width: 56px;
  height: 66px;
  outline: none;
  background: url("../img/offer/offer-right.png") no-repeat center;
  top: -110px;
  right: 0px;
  cursor: pointer;
}

.offer__item {
  min-height: 360px;
  width: 360px;
  background-color: #fff;
  margin: 79px 10px 0 10px;
  outline: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 20px;
  position: relative;
}

.offer__item img {
  margin-top: -79px;
  margin-bottom: 20px;
  width: 100%;
}

.offer__names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__name {
  color: #333333;
  font-size: 16px;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
  position: relative;
}

.offer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/icons.png") no-repeat center;
  background-position-y: -39px;
  margin-left: 10px;
}

.offer__icon--pool {
  background-position-x: 0;
}

.offer__icon--trees {
  background-position-x: -22px;
}

.offer__icon--water {
  background-position-x: -44px;
}

.offer__price {
  display: block;
  margin: 20px 0 5px;
  color: #32a946;
  font-size: 20px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 24px;
}

.offer__description {
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 15px;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
  margin-bottom: 0px;
}

.offer__link {
  color: #00224c;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  letter-spacing: 0.45px;
  border-bottom: 1px dotted;
}

.offer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer a {
  z-index: 10;
}

.offer__a {
  max-width: 256px;
  text-align: center;
  margin-left: 30px;
  line-height: 25px;
  letter-spacing: 0.45px;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #ccc;
          text-decoration-color: #ccc;
}

.best-seller {
  position: absolute;
  width: 49px;
  height: 78px;
  background: url("../img/icons.png") no-repeat center;
  background-position-x: -181px;
  background-position-y: 0px;
  left: 50px;
  top: -59px;
}

.leaves {
  z-index: 2;
  position: absolute;
  width: 806px;
  height: 214px;
  background: url(../img/offer/leaves.png) no-repeat center;
  bottom: -65px;
  left: 112px;
}

@media (max-width: 1200px) {
  .offer__name {
    font-size: 14px;
  }
  .offer__description {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .offer__left {
    top: -80px;
    right: 70px;
  }
  .offer__right {
    top: -80px;
    right: 0px;
  }
  .leaves {
    display: none;
  }
}

@media (max-width: 768px) {
  .offer__items {
    margin-top: 80px;
  }
  .offer__item {
    min-height: auto;
  }
  .offer__left {
    top: -60px;
    right: 70px;
  }
  .offer__right {
    top: -60px;
    right: 0;
  }
  .offer__title {
    font-size: 35px;
  }
  .offer__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__btn {
    margin-bottom: 20px;
  }
  .offer__a {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .offer__title {
    font-size: 31px;
  }
  .offer__name {
    font-size: 14px;
  }
  .offer__description {
    font-size: 11px;
  }
  .offer__btn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.genplan {
  padding-bottom: 100px;
}

.genplan__img {
  width: 100%;
}

.genplan__title {
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 50px;
  letter-spacing: 1.5px;
  position: relative;
  margin-top: 95px;
  margin-bottom: 50px;
}

.genplan__title:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 472px;
  background-color: #adddb5;
  left: calc( 50% - 472px/2);
  bottom: 8px;
  z-index: -1;
}

@media (max-width: 1024px) {
  .genplan__title {
    font-size: 40px;
  }
  .genplan__title:after {
    left: calc( 50% - 383px/2);
    width: 383px;
  }
}

@media (max-width: 576px) {
  .genplan__title {
    font-size: 37px;
  }
  .genplan__title:after {
    width: 0;
  }
}

.why {
  min-height: 1270px;
  background: url("../img/why/why-bg.jpg") no-repeat center;
  background-size: cover;
}

.why .container {
  position: relative;
}

.why__subtitle {
  display: block;
  padding-top: 135px;
  color: #ffffff;
  font-size: 25px;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 60px;
  letter-spacing: 0.75px;
}

.why__title {
  padding-top: 0;
  text-align: left;
  font-size: 50px;
  font-family: 'Montserrat-Bold', sans-serif;
  letter-spacing: 1.5px;
  color: #35aa46;
  margin-bottom: 60px;
}

.why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.why__item {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #f7f7f7;
  margin-bottom: 65px;
}

.why__item img {
  width: 129px;
  height: 129px;
  margin-bottom: 25px;
}

.why__text {
  font-size: 17px;
  line-height: 24px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.why__desctiption {
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 30px;
}

.cloud-1 {
  position: absolute;
  width: 503px;
  height: 327px;
  background: url(../img/why/cloud-1.png) no-repeat center;
  top: -130px;
  left: 0px;
}

.cloud-2 {
  position: absolute;
  width: 562px;
  height: 307px;
  background: url(../img/why/cloud-2.png) no-repeat center;
  top: 0px;
  right: 80px;
}

@media (max-width: 1200px) {
  .cloud-2 {
    width: 462px;
    height: 247px;
    background-size: cover;
    right: 20px;
  }
  .why__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1024px) {
  .cloud-1 {
    display: none;
  }
  .cloud-2 {
    width: 310px;
    height: 150px;
  }
  .why__subtitle {
    padding-top: 80px;
    font-size: 20px;
  }
  .why__item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .why__title {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .cloud-2 {
    display: none;
  }
  .why__item {
    width: 100%;
  }
  .why__title {
    font-size: 34px;
  }
}

@media (max-width: 425px) {
  .why__subtitle {
    padding-top: 40px;
    font-size: 17px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  .why__title {
    font-size: 23px;
  }
}

.photos {
  padding-top: 50px;
  padding-bottom: 90px;
  overflow: hidden;
}

.photos .container {
  position: relative;
}

.photos__title {
  font-size: 50px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 50px;
  letter-spacing: 1.5px;
  position: relative;
}

.photos__title:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 367px;
  background-color: #adddb5;
  left: 0;
  bottom: 8px;
  z-index: -1;
}

.photos__slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.photos__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  height: 756px;
  overflow: hidden;
  margin-right: 30px;
  position: relative;
}

.photos__left::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/icons.png") no-repeat center;
  background-position-x: -156px;
  background-position-y: 0px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.photos__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photos__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photos__top--left {
  position: relative;
  width: 360px;
  height: 360px;
  overflow: hidden;
  margin-right: 30px;
}

.photos__top--left::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/icons.png") no-repeat center;
  background-position-x: -156px;
  background-position-y: 0px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.photos__top--right {
  position: relative;
  width: 360px;
  height: 360px;
  overflow: hidden;
}

.photos__top--right::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/icons.png") no-repeat center;
  background-position-x: -156px;
  background-position-y: 0px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.photos__bottom {
  position: relative;
  width: 750px;
  height: 364px;
  margin-top: 30px;
  overflow: hidden;
}

.photos__bottom::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/icons.png") no-repeat center;
  background-position-x: -156px;
  background-position-y: 0px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.photos__btn--left {
  top: -90px;
}

.photos__btn--right {
  top: -90px;
}

.leavesph {
  z-index: -1;
  position: absolute;
  width: 1420px;
  height: 1004px;
  background: url(../img/photos/leavesph.png) no-repeat center;
  top: 0;
  left: -150px;
}

@media (max-width: 1200px) {
  .photos__left {
    width: 28vw;
    height: 56vw;
    margin-right: 2vw;
  }
  .photos__top--left {
    width: 29vw;
    height: 29vw;
    margin-right: 2vw;
  }
  .photos__top--right {
    width: 29vw;
    height: 29vw;
  }
  .photos__bottom {
    width: 60vw;
    height: 25vw;
    margin-top: 2vw;
  }
  .photos__btn--left {
    right: 120px;
  }
  .photos__btn--right {
    right: 50px;
  }
}

@media (max-width: 1024px) {
  .photos__title {
    font-size: 40px;
  }
  .photos__title:after {
    width: 297px;
  }
}

@media (max-width: 768px) {
  .leavesph {
    display: none;
  }
}

@media (max-width: 425px) {
  .photos__title {
    font-size: 34px;
  }
  .photos:after {
    width: 0;
  }
}

.town {
  background-color: #f7f7f7;
  padding-bottom: 100px;
}

.town__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 75px;
}

.town__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.town__buttons {
  text-align: center;
}

.town__btn--order {
  margin-right: 30px;
}

.town__items .offer__item {
  margin: 79px 0 0;
  padding-bottom: 10px;
}

.town__items .offer__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.town__items .offer__item .offer__price {
  margin-top: 10px;
}

.filter {
  color: #35aa46;
}

.filter__name {
  display: block;
  margin-bottom: 18px;
}

.filter__btn {
  color: #494848;
  font-size: 12px;
  line-height: 24px;
  padding: 10px 14px;
  border-radius: 40px;
  border: 1px solid #35aa46;
  margin-right: 10px;
  cursor: pointer;
}

.filter__active {
  color: #fff;
  border: none;
  background-color: #35aa46;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(7%, rgba(84, 210, 102, 0)), color-stop(92%, rgba(84, 210, 102, 0.96)), color-stop(96%, #54d266));
  background-image: linear-gradient(to bottom, rgba(84, 210, 102, 0) 7%, rgba(84, 210, 102, 0.96) 92%, #54d266 96%);
}

.apparts {
  padding-bottom: 100px;
}

.houses {
  padding-bottom: 100px;
  background-color: #f7f7f7;
}

@media (max-width: 1200px) {
  .town__filters {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .town__filter {
    margin-bottom: 30px;
  }
  .town__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .town__items .offer__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .town__filters {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .town__filters {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .town__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .town__buttons a {
    width: 300px;
  }
  .town__items {
    margin-bottom: 0;
  }
  .town__btn--order {
    margin: 30px;
  }
  .town__btn--want {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 576px) {
  .filter__btn {
    font-size: 12px;
    line-height: 24px;
    padding: 10px 7px;
    border-radius: 40px;
    border: 1px solid #35aa46;
    margin-right: 10px;
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .town__filter {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .filter__buttons {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter__btn {
    margin-bottom: 5px;
  }
}

.best {
  min-height: 489px;
  background: url("../img/best/best-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 60px;
}

.best__title {
  color: #ffffff;
  font-size: 35px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 50px;
  letter-spacing: 1.05px;
  margin-bottom: 25px;
}

.best__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best__name {
  color: #f6be3c;
  font-size: 20px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.best__address {
  color: #ffffff;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 50px;
  letter-spacing: 0.45px;
}

@media (max-width: 1200px) {
  .best__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .best__address {
    display: block;
  }
  .best__title {
    text-align: center;
  }
}

.video {
  padding-bottom: 45px;
}

.video__title {
  margin-top: 95px;
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 50px;
  letter-spacing: 1.5px;
  position: relative;
}

.video__title:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 172px;
  background-color: #adddb5;
  left: calc( 50% - 172px/2);
  bottom: 8px;
  z-index: -1;
}

.map {
  padding-bottom: 110px;
}

@media (max-width: 1024px) {
  .video__title {
    font-size: 40px;
  }
}

.form-section .container {
  position: relative;
}

.form {
  max-width: 1000px;
  min-height: 578px;
  margin: 0 auto;
  background: url("../img/form/form-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 80px 120px 130px;
  text-align: center;
  margin-bottom: 100px;
}

.form-section {
  overflow: hidden;
}

.form__title {
  color: #000000;
  font-size: 28px;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 50px;
}

.form__bold {
  font-family: 'Montserrat-Bold', sans-serif;
}

.form__green {
  color: #35aa46;
}

.form__input-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 293px;
}

.form__input-text {
  height: 51px;
  border-radius: 26px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding-left: 30px;
}

.form__input-text::-webkit-input-placeholder {
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
}

.form__input-text:-ms-input-placeholder {
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
}

.form__input-text::-ms-input-placeholder {
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
}

.form__input-text::placeholder {
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
}

.form__textarea {
  min-width: 390px;
  max-width: 390px;
  min-height: 60px;
  height: 132px;
  border-radius: 26px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 15px 30px;
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
  margin-bottom: 42px;
}

.birds1 {
  position: absolute;
  width: 145px;
  height: 131px;
  background: url(../img/form/birds1.png) no-repeat center;
  top: 100px;
  left: 0px;
}

.birds2 {
  position: absolute;
  width: 233px;
  height: 229px;
  background: url(../img/form/birds2.png) no-repeat center;
  top: 350px;
  right: -50px;
}

@media (max-width: 1024px) {
  .birds1 {
    display: none;
  }
  .birds2 {
    display: none;
  }
  .form {
    padding: 40px 60px 60px;
  }
  .form__title {
    font-size: 22px;
    line-height: 40px;
  }
  .form__inputs {
    width: 35vw;
  }
  .form__textarea {
    min-width: 35vw;
    max-width: 35vw;
    height: 132px;
  }
}

@media (max-width: 768px) {
  .form {
    padding: 20px 30px 30px;
  }
}

@media (max-width: 576px) {
  .form__input-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__inputs {
    width: 100%;
  }
  .form__textarea {
    min-width: 100%;
    max-width: 100%;
  }
  .form__title {
    font-size: 14px;
    line-height: 30px;
  }
}

@media (max-width: 425px) {
  .form__btn {
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    font-size: 12px;
  }
}

.footer {
  background-color: #00224c;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
}

.footer__logo {
  display: block;
}

.footer__nav {
  color: white;
}

.footer__nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav ul li {
  margin: 0 15px;
}

.footer__nav a {
  color: white;
}

.footer__callback {
  text-align: center;
}

.footer__tel {
  display: block;
  color: #32a946;
  font-size: 16px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 40px;
  letter-spacing: 0.48px;
}

.footer__btn {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.36px;
  height: 40px;
  line-height: 30px;
}

@media (max-width: 1200px) {
  .footer__nav {
    font-size: 13px;
  }
  .footer__nav ul li {
    margin: 0 7px;
  }
}

@media (max-width: 1024px) {
  .footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__nav ul li {
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 20px;
    position: relative;
  }
  .footer__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__callback {
    position: absolute;
    bottom: 20px;
  }
}

@media (max-width: 425px) {
  .footer__nav {
    margin-bottom: 70px;
  }
  .footer__callback {
    left: 20%;
  }
}

.popup {
  background-color: #f7f7f7;
  text-align: center;
}

.popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 200px;
  width: 200px;
}

.popup__input-text {
  height: 51px;
  border-radius: 26px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding-left: 30px;
  outline: none;
}

.popup__input-text::-webkit-input-placeholder {
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
}

.popup__input-text:-ms-input-placeholder {
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
}

.popup__input-text::-ms-input-placeholder {
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
}

.popup__input-text::placeholder {
  color: #333333;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 24px;
}

#callback-popup {
  padding: 30px;
}
/*# sourceMappingURL=main.css.map */