.footer
  background-color: $dark
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 150px
  &__logo
    display: block
  &__nav
    color: white
    ul
      list-style-type: none
      margin: 0
      padding: 0
      display: flex
      li
        margin: 0 15px
    a
      color: white
  &__callback
    text-align: center
  &__tel
    display: block
    color: $link-color
    font-size: 16px
    +f700
    line-height: 40px
    letter-spacing: 0.48px
  &__btn
    color: #fff
    font-size: 13px
    letter-spacing: 0.36px
    height: 40px
    line-height: 30px

@media (max-width: 1200px)
  .footer
    &__nav
      font-size: 13px
      ul
        li
          margin: 0 7px
@media (max-width: 1024px)
  .footer
    &__nav
      ul
        display: flex
        flex-direction: column
        align-items: flex-start
        li
          margin: 10px 0
@media (max-width: 576px)
  .footer
    padding: 20px
    position: relative
    &__wrapper
      align-items: flex-start
    &__callback
      position: absolute
      bottom: 20px
@media (max-width: 425px)
  .footer
    &__nav
      margin-bottom: 70px
    &__callback
      left: 20%
