.town
  background-color: $section-bg
  padding-bottom: 100px
  &__items
    display: flex
    flex-wrap: wrap
    margin-bottom: 75px
  &__filters
    display: flex
    justify-content: space-between
    margin-bottom: 40px
  &__buttons
    text-align: center
  &__btn--order
    margin-right: 30px

.town__items .offer__item
  margin: 79px 0 0
  padding-bottom: 10px
  &:not(:nth-child(3n))
    margin-right: 30px
.town__items .offer__item .offer__price
  margin-top: 10px

.filter
  color: $why-title
  &__name
    display: block
    margin-bottom: 18px
  &__btn
    color: $filter-name
    font-size: 12px
    line-height: 24px
    padding: 10px 14px
    border-radius: 40px
    border: 1px solid $why-title
    margin-right: 10px
    cursor: pointer
  &__active
    color: #fff
    border: none
    background-color: $why-title
    background-image: linear-gradient(to bottom, rgba(84, 210, 102, 0) 7%, rgba(84, 210, 102, 0.96) 92%, #54d266 96%)

.apparts
  padding-bottom: 100px

.houses
  padding-bottom: 100px
  background-color: $section-bg

@media (max-width: 1200px)
  .town
    &__filters
      justify-content: space-around
      flex-wrap: wrap
    &__filter
      margin-bottom: 30px
    &__items
      justify-content: space-around
  .town__items .offer__item
    &:not(:nth-child(3n))
      margin-right: 0
    flex-basis: 32%
@media (max-width: 1024px)
  .town
    &__filters
      margin-bottom: 0
  .town__items .offer__item
    flex-basis: 48%
@media (max-width: 768px)
  .town
    &__filters
      justify-content: flex-start
    &__buttons
      display: flex
      flex-direction: column
      align-items: center
      a
        width: 300px
    &__items
      margin-bottom: 0
    &__btn--order
      margin: 30px
    &__btn--want
      padding-left: 20px
      padding-right: 20px
  .town__items .offer__item
    flex-basis: 70%
@media (max-width: 576px)
  .filter
    &__btn
      font-size: 12px
      line-height: 24px
      padding: 10px 7px
      border-radius: 40px
      border: 1px solid $why-title
      margin-right: 10px
      cursor: pointer
  .town__items .offer__item
    flex-basis: 100%
@media (max-width: 425px)
  .town
    &__filter
      flex-basis: 100%
  .filter
    &__buttons
      text-align: center
      display: flex
      flex-direction: column
    &__btn
      margin-bottom: 5px
