.town
  background-color: $section-bg
  padding-bottom: 100px
  &__items
    display: flex
    flex-wrap: wrap
    margin-bottom: 75px
  &__filters
    display: flex
    justify-content: space-between
    margin-bottom: 40px
  &__buttons
    text-align: center
  &__btn--order
    margin-right: 30px

.town__items .offer__item
  margin: 79px 0 0
  padding-bottom: 10px
  &:not(:nth-child(3n))
    margin-right: 30px
.town__items .offer__item .offer__price
  margin-top: 10px

.filter
  color: $why-title
  &__name
    display: block
    margin-bottom: 18px
  &__btn
    color: $filter-name
    font-size: 12px
    line-height: 24px
    padding: 10px 14px
    border-radius: 40px
    border: 1px solid $why-title
    margin-right: 10px
    cursor: pointer
  &__active
    color: #fff
    border: none
    background-color: $why-title
    background-image: linear-gradient(to bottom, rgba(84, 210, 102, 0) 7%, rgba(84, 210, 102, 0.96) 92%, #54d266 96%)

.apparts
  padding-bottom: 100px

.houses
  padding-bottom: 100px
  background-color: $section-bg

