.why
  min-height: 1270px
  background: url("../img/why/why-bg.jpg") no-repeat center
  background-size: cover
  &__subtitle
    display: block
    padding-top: 160px
    color: #ffffff
    font-size: 25px
    +f300
    line-height: 60px
    letter-spacing: 0.75px
  &__title
    padding-top: 0
    text-align: left
    font-size: 50px
    +f700
    letter-spacing: 1.5px
    color: $why-title
  &__items
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 60px
  &__item
    max-width: 360px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    color: $section-bg
    margin-bottom: 80px
    img
      width: 129px
      height: 129px
      margin-bottom: 40px
  &__text
    font-size: 17px
    line-height: 24px
    min-height: 48px
    display: flex
    align-items: center
    margin-bottom: 18px
    +f500
  &__desctiption
    +f300
    line-height: 24px

